@model IEnumerable<AJAXHomePage.Models.Customer>
@{
    ViewData["Title"] = "Customers by Country";
}

<h1>Customers by Country</h1>

<div class="table-responsive">
    @await Html.PartialAsync("_CustomerList", Model)
</div>

@section Scripts {
    <script src="~/js/customer.js"></script>
    <script>
        $(document).ready(function() {

            $.validator.unobtrusive.parse("#createCustomerForm");
        });
    </script>
}