@model IEnumerable<AJAXHomePage.Models.Customer>
@{
    ViewData["Title"] = "Customers by City";
}

<h1>Customers by City</h1>

<div class="table-responsive">
    @await Html.PartialAsync("_CustomerList", Model.OrderBy(c => c.City.Name))
</div>

@section Scripts {
    <script src="~/js/customer.js"></script>
    <script>
        $(document).ready(function() {

            $.validator.unobtrusive.parse("#createCustomerForm");
        });
    </script>
}